.go-back {
  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #647196;
  }

  svg {
    width: 8px;
    margin-right: 8px;
  }

  &:hover {
    filter: brightness(90%);
  }
}
