.textarea {
  background: #f7f8fd;
  border-radius: 5px;
  margin-bottom: 16px;
  border: none;
  padding: 13px 24px;
  width: 100%;
  font-size: 15px;
  font-family: "Jost", sans-serif;
  line-height: 22px;
  color: #3a4374;
}
