$text-color: #fff;

.logo-box {
  display: flex;
  align-items: center;
  height: 137px;
  width: 100%;
  padding: 16px 24px 24px 24px;
  justify-content: space-between;

  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
  border-radius: 10px;

  &__icon {
    color: $text-color;
    font-size: 45px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.25px;
    color: $text-color;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #fff;
    opacity: 0.75;
  }

  &__mobile-menu {
    font-size: 25px;
    color: #fff;
    display: none;
  }

  &__mobile-nav {
    background-color: #f7f8fd;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    position: absolute;
    top: 87px;
    right: 0;
    z-index: 3;
    padding: 24px 24px 0 24px;
    height: 100%;
    width: 271px;
  }

  &__overlay {
    position: absolute;
    top: 87px;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
  }
}
