$background-color: #373f68;
$text-color: #fff;

.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;
  max-width: 825px;
  height: 72px;
  padding: 24px;
  border-radius: 10px;
  margin-bottom: 24px;

  &__container {
    display: flex;
  }

  &__icon {
    width: 23px;
    height: 24px;
    margin-right: 16px;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: $text-color;
    margin-right: 38px;
  }
}
