.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #373f68;
  max-width: 825px;
  height: 72px;
  padding: 24px;
  border-radius: 10px;
  margin-bottom: 24px;

  &__container,
  &__suggestion {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 23px;
    height: 24px;
    margin-right: 16px;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #fff;
    margin-right: 38px;
  }

  &__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #f2f4fe;
    margin-right: 5px;
  }
}
