//containers checking later all flex containers
.app-container {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1600px;
  padding: 94px 25px 0 25px;
}

.home-flex-container {
  display: flex;
  column-gap: 30px;
  justify-content: center;
}

.roadmap-flex-container {
  display: flex;
  column-gap: 30px;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
}

.roadmap-container {
  display: flex;
  column-gap: 30px;
}

.form-flex-container {
  display: flex;
  justify-content: flex-end;
  column-gap: 16px;
}

/// testing if there is better solution to center both elements

.flex-container {
  display: flex;
  column-gap: 30px;
}

.justify-between {
  justify-content: space-between;
}

.flex-container--2 {
  display: flex;
  max-width: 825px;
  width: 100%;
  margin-bottom: 24px;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 825px;
  width: 100%;
}

// text elements
.heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: #3a4374;
}

.text {
  font-weight: normal;
  &--common {
    font-size: 16px;
    line-height: 23px;
    color: #647196;
  }
}

//clean up later

.characters-left {
  align-self: center;
  font-size: 15px;
  line-height: 22px;
  color: #647196;
}

.roadmap-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #373f68;
  max-width: 1110px;
  width: 100%;
  height: 113px;
  padding: 24px;
  border-radius: 10px;
  margin-bottom: 24px;

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: -0.333333px;
    color: #ffffff;
    margin-top: 4px;
  }
}

//testing
.test1 {
  color: red;
}

//media queries

//tablet
@media only screen and (max-width: 993px) {
  .home-flex-container {
    display: flex;
    row-gap: 40px;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .nav {
    display: flex;
    flex-direction: row;
    max-width: 825px;
    width: 100%;
    justify-content: center;
    column-gap: 10px;
  }

  .roadmap-container {
    column-gap: 10px;
  }

  .logo-box {
    height: auto;
  }
}
// mobile big
@media only screen and (max-width: 701px) {
  // fast uberall font size 13

  p {
    font-size: 13px !important;
  }

  .app-container {
    padding: 0;
  }

  .home-flex-container {
    row-gap: 0;
  }

  .info-bar,
  .logo-box {
    border-radius: 0;
  }

  .category-box,
  .roadmap {
    display: none;
  }

  .logo-box .roadmap {
    display: block;
  }

  .logo-box .category-box {
    display: flex;
  }

  .feedback-container {
    margin: 0 24px;
  }

  .info-bar__suggestion {
    display: none;
  }

  .btn {
    width: 134px;
    padding: 12px 16px;
    font-size: 13px;
  }

  .logo-box__mobile-menu {
    display: block;
  }

  .main {
    &--form {
      padding: 74px 24px 0 24px;
    }

    &--detail-feedback {
      padding: 24px;
    }
  }

  .home-flex-container .roadmap-card {
    border-top: none;
  }
  .home-flex-container .roadmap-card__feedback-status,
  .home-flex-container .roadmap-card__dot {
    display: none;
  }

  .main--detail-feedback .roadmap-card {
    border-top: none;
    width: 100%;
  }
  .main--detail-feedback .roadmap-card__feedback-status,
  .main--detail-feedback .roadmap-card__dot {
    display: none;
  }

  .roadmap-bar {
    border-radius: 0;
  }

  .form-flex-container .btn {
    width: 100%;
    margin-bottom: 16px;
  }

  .form-flex-container {
    flex-direction: column-reverse;
    margin-top: 24px;
  }

  #description {
    height: 120px;
  }

  .info-bar__text,
  .sort__select {
    line-height: 23px;
    font-size: 13px;
  }

  .select,
  .input {
    font-size: 13px;
  }
}
