.form-label {
  font-size: 14px;
  line-height: 20px;

  &__title {
    font-weight: bold;
    letter-spacing: -0.194444px;
    color: #3a4374;
  }

  &__subtitle {
    color: #647196;
    margin-bottom: 16px;
  }
}
